// Define variables for your color scheme

// For example:
$red: #fd5f62;
$blue: #3099fb;
$yellow: #fac733;
$orange: #E67E22;
$green: #1EDD88;
$gray: #2f3a47;
$light-gray: #536577;
$lighter-gray: #c3d7f3;
