<div class="container">
  <ul class="nav nav-tabs">
    <li class="tab active" id="tab-bookings"><a href="#">Bookings</a></li>
    <li class="tab" id="tab-properties"><a href="#">Properties</a></li>
    <li class="tab" id="tab-reviews"><a href="#">Reviews</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="bookings">
      Bookings
    </div>
    <div class="tab-pane" id="properties">
      Properties
    </div>
    <div class="tab-pane" id="reviews">
      Reviews
    </div>
  </div>
</div>
