<div class="container">
  <ul class="nav nav-tabs">
    <li class="tab active" id="tab-bookings"><a href="#">Bookings</a></li>
    <li class="tab" id="tab-properties"><a href="#">Properties</a></li>
    <li class="tab" id="tab-reviews"><a href="#">Reviews</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="bookings">
      <%= render 'bookings' %>
    </div>
    <div class="tab-pane" id="properties">
      <%= render 'properties' %>
    </div>
    <div class="tab-pane" id="reviews">
      <%= render 'reviews' %>
    </div>
  </div>
</div>
