<div class="container">
  <h1>My Reviews</h1>
  <% @reviews.each do |review| %>
    <div class="homepage-property-card mb-3">
      <% if review.booking.property.photos.attached? %>
        <div class="homepage-property-card-photo">
          <%= cl_image_tag review.booking.property.photos.first.key, height: 150, width: 200, crop: :fill %>
        </div>
      <% end %>
      <div class="homepage-property-card-info">
        <h3><%= review.booking.property.name %></h3>
        <p><%= review.content %></p>
        <p><%= review.rating %></p>
      </div>
    </div>
  <% end %>
</div>
