<div class="navbar navbar-expand-sm bg-transparent">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png"%>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Dashboard", user_dashboard_path(current_user), class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= image_tag "https://media-exp1.licdn.com/dms/image/C5603AQGKfVGsdtKTTg/profile-displayphoto-shrink_200_200/0?e=1595462400&v=beta&t=aqpFZpmw5S5vgS3lXFvP3xgbrSGf2vdZ9Vd1e9zNmr4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </li>
    </ul>
  </div>
</div>
