.property-card {
  display: flex;
  border-radius: 5px;
  margin: 10px;
  background: rgb(20,20,30);
  border: 2px solid white;
  text-decoration: none;
}

.property-card-photo {
  padding-right: 10px;
}

.property-card-info {
  padding: 10px;
}
