.home-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px 32px;
}

.homepage-property-card {
  height: 200px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.homepage-property-card-info {
  color: $lighter-gray;
  border-radius: 5px;
  h5 {
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
}

// .homepage-property-card-info h5 {
//   text-shadow: 0 0 10px rgba(0,0,0,0.3);
// }

// .homepage-property-card-info p {
//   display: none;
// }

.homepage-property-card-info:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0.3);
}
