.index-property-card {
  overflow: hidden;
  height: 150px;
  background: #292733;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  margin: 0px 24px 24px 24px;
  color: white;
  width: 600px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.index-property-card img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.index-property-card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.index-property-card .index-card-product-infos {
  padding: 10px;
  position: relative;
}

.index-property-card .no-results {
  margin: auto;
  font-size: 24px;
}
