.modal-header {
  color: black;
}

.modal-body {
  color: black;
}

.modal-title-properties {
  color: black;
}

.modal-body-properties {
  color: black;
}

.btn-danger {
  display: flex;
  align-item: left;
}
