.navbar {
  justify-content: space-between;
  z-index: 10;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 30px;
  width: 60px;
  filter: invert(91%) sepia(9%) saturate(7371%) hue-rotate(330deg) brightness(107%) contrast(106%);
}

.navbar .nav-item active {
  color: #e1b531;
}

.nav-item a {
  color: $lighter-gray;
}
