.navbar {
  justify-content: space-between;
  background: rgb(20,20,30);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .nav-item active {
  color: #e1b531;
}


